IRcontroller-NodeRedFlow.txt
[{"id":"e3bd9703.0fc3d8","type":"tab","label":"IRcontroller","disabled":false,"info":""},{"id":"bee0e012.37732","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3bcee32.013e5","type":"ui_group","z":"","name":"Key","tab":"5d3f2deb.2bb344","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bbb0e6e.5292a","type":"ui_group","z":"","name":"HT","tab":"5d3f2deb.2bb344","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3c00eb7.bb95d","type":"ui_group","z":"","name":"Log","tab":"5d3f2deb.2bb344","order":3,"disp":true,"width":"6","collapse":false},{"id":"5d3f2deb.2bb344","type":"ui_tab","z":"","name":"IRcontroller","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"12695f3a.1a0cb1","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"IR/service","qos":"0","broker":"bee0e012.37732","x":840,"y":40,"wires":[["eb0cf68d.5f6008","c480ddb3.135be"]]},{"id":"9ae1e3ab.d48bc","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"IR/command","qos":"0","broker":"bee0e012.37732","x":850,"y":240,"wires":[["5f70d47c.3a516c","73f38fcd.1d3f3"]]},{"id":"37487580.49d29a","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"IR/key","qos":"0","broker":"bee0e012.37732","x":830,"y":140,"wires":[["89b0f2ac.5e8d9","513b81d8.579ca"]]},{"id":"eb0cf68d.5f6008","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":40,"wires":[["83b2c0ab.61675"]]},{"id":"89b0f2ac.5e8d9","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":140,"wires":[["9d8f2a82.fd10f8"]]},{"id":"5f70d47c.3a516c","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":240,"wires":[["8c90d925.cde788"]]},{"id":"83b2c0ab.61675","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":40,"wires":[]},{"id":"9d8f2a82.fd10f8","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":140,"wires":[]},{"id":"8c90d925.cde788","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":240,"wires":[]},{"id":"76aa0ecf.f5417","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"HT/send","qos":"0","broker":"bee0e012.37732","x":840,"y":440,"wires":[["c2049870.ba6098","9bd82a88.7b3b08"]]},{"id":"c2049870.ba6098","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":440,"wires":[["eea9aeb4.201b2","394c438f.428c7c","6384500f.aab83","95a7d80a.e546e8"]]},{"id":"eea9aeb4.201b2","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":440,"wires":[]},{"id":"c17c6fdb.e1227","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"HT/command","qos":"0","broker":"bee0e012.37732","x":850,"y":720,"wires":[["a4ea9b16.d9b0a8","ab27313a.135fb"]]},{"id":"a4ea9b16.d9b0a8","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":720,"wires":[["5b431c7e.507184"]]},{"id":"5b431c7e.507184","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":720,"wires":[]},{"id":"ab1c66a9.c01f98","type":"mqtt in","z":"e3bd9703.0fc3d8","name":"","topic":"HT/alert","qos":"0","broker":"bee0e012.37732","x":830,"y":340,"wires":[["eb8bbe37.bdee","ac20431e.2498b"]]},{"id":"eb8bbe37.bdee","type":"json","z":"e3bd9703.0fc3d8","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":340,"wires":[["5cc61639.471788"]]},{"id":"5cc61639.471788","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":340,"wires":[]},{"id":"cb510cf8.6ead7","type":"inject","z":"e3bd9703.0fc3d8","name":"CH -","topic":"","payload":"{\"type\":3,\"value\":16753245,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["aff12070.f0889"]]},{"id":"30fa2f4f.aa02b","type":"inject","z":"e3bd9703.0fc3d8","name":"CH","topic":"","payload":"{\"type\":3,\"value\":16736925,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":40,"wires":[["aff12070.f0889"]]},{"id":"4e4bc16c.72f24","type":"inject","z":"e3bd9703.0fc3d8","name":"CH +","topic":"","payload":"{\"type\":3,\"value\":16769565,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":40,"wires":[["aff12070.f0889"]]},{"id":"aaca53a9.4c3b3","type":"inject","z":"e3bd9703.0fc3d8","name":"|<<","topic":"","payload":"{\"type\":3,\"value\":16720605,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["aff12070.f0889"]]},{"id":"45391d44.2cc2b4","type":"inject","z":"e3bd9703.0fc3d8","name":">>|","topic":"","payload":"{\"type\":3,\"value\":16712445,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["aff12070.f0889"]]},{"id":"46a0e553.6117bc","type":"inject","z":"e3bd9703.0fc3d8","name":">||","topic":"","payload":"{\"type\":3,\"value\":16761405,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":140,"wires":[["aff12070.f0889"]]},{"id":"fd5a37fd.8a4228","type":"inject","z":"e3bd9703.0fc3d8","name":"-","topic":"","payload":"{\"type\":3,\"value\":16769055,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["aff12070.f0889"]]},{"id":"e4e2c0be.4bbce","type":"inject","z":"e3bd9703.0fc3d8","name":"+","topic":"","payload":"{\"type\":3,\"value\":16754775,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":240,"wires":[["aff12070.f0889"]]},{"id":"ee6c8bef.ba7408","type":"inject","z":"e3bd9703.0fc3d8","name":"EQ","topic":"","payload":"{\"type\":3,\"value\":16748655,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":240,"wires":[["aff12070.f0889"]]},{"id":"cb422b83.cd8928","type":"inject","z":"e3bd9703.0fc3d8","name":"0","topic":"","payload":"{\"type\":3,\"value\":16738455,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["aff12070.f0889"]]},{"id":"3d005031.20c5a","type":"inject","z":"e3bd9703.0fc3d8","name":"100+","topic":"","payload":"{\"type\":3,\"value\":16750695,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":340,"wires":[["aff12070.f0889"]]},{"id":"a083aaad.e2d0b8","type":"inject","z":"e3bd9703.0fc3d8","name":"200+","topic":"","payload":"{\"type\":3,\"value\":16756815,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":340,"wires":[["aff12070.f0889"]]},{"id":"ed3094e1.791088","type":"inject","z":"e3bd9703.0fc3d8","name":"1","topic":"","payload":"{\"type\":3,\"value\":16724175,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["aff12070.f0889"]]},{"id":"c2b92b1e.51ae38","type":"inject","z":"e3bd9703.0fc3d8","name":"2","topic":"","payload":"{\"type\":3,\"value\":16718055,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":460,"wires":[["aff12070.f0889"]]},{"id":"68585c90.3b90a4","type":"inject","z":"e3bd9703.0fc3d8","name":"3","topic":"","payload":"{\"type\":3,\"value\":16743045,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":460,"wires":[["aff12070.f0889"]]},{"id":"e3d29092.83924","type":"inject","z":"e3bd9703.0fc3d8","name":"4","topic":"","payload":"{\"type\":3,\"value\":16716015,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["aff12070.f0889"]]},{"id":"af3a503.e7661b","type":"inject","z":"e3bd9703.0fc3d8","name":"5","topic":"","payload":"{\"type\":3,\"value\":16726215,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":560,"wires":[["aff12070.f0889"]]},{"id":"2c88eb8c.26cc24","type":"inject","z":"e3bd9703.0fc3d8","name":"6","topic":"","payload":"{\"type\":3,\"value\":16734885,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":560,"wires":[["aff12070.f0889"]]},{"id":"914be96e.d01db8","type":"inject","z":"e3bd9703.0fc3d8","name":"7","topic":"","payload":"{\"type\":3,\"value\":16728765,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["aff12070.f0889"]]},{"id":"ed3b767.1302c88","type":"inject","z":"e3bd9703.0fc3d8","name":"8","topic":"","payload":"{\"type\":3,\"value\":16730805,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["aff12070.f0889"]]},{"id":"3e438944.78ed76","type":"inject","z":"e3bd9703.0fc3d8","name":"9","topic":"","payload":"{\"type\":3,\"value\":16732845,\"length\":32}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":660,"wires":[["aff12070.f0889"]]},{"id":"36553c0e.53df94","type":"inject","z":"e3bd9703.0fc3d8","name":"H","topic":"","payload":"{\"HTtype\":\"H\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["fd472184.afd7"]]},{"id":"741c61f.a7acda","type":"inject","z":"e3bd9703.0fc3d8","name":"T","topic":"","payload":"{\"HTtype\":\"T\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":780,"wires":[["fd472184.afd7"]]},{"id":"90e09144.58072","type":"inject","z":"e3bd9703.0fc3d8","name":"HT","topic":"","payload":"{\"HTtype\":\"HT\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":780,"wires":[["fd472184.afd7"]]},{"id":"aff12070.f0889","type":"mqtt out","z":"e3bd9703.0fc3d8","name":"","topic":"IR/command","qos":"","retain":"","broker":"bee0e012.37732","x":690,"y":240,"wires":[]},{"id":"fd472184.afd7","type":"mqtt out","z":"e3bd9703.0fc3d8","name":"","topic":"HT/command","qos":"","retain":"","broker":"bee0e012.37732","x":680,"y":720,"wires":[]},{"id":"ed0b1b7f.8d5cb8","type":"mqtt out","z":"e3bd9703.0fc3d8","name":"","topic":"HT/alert","qos":"","retain":"","broker":"bee0e012.37732","x":700,"y":340,"wires":[]},{"id":"789a54d2.34320c","type":"mqtt out","z":"e3bd9703.0fc3d8","name":"","topic":"HT/send","qos":"","retain":"","broker":"bee0e012.37732","x":700,"y":440,"wires":[]},{"id":"86eb8427.6e1728","type":"function","z":"e3bd9703.0fc3d8","name":"Check HT","func":"    return {payload: \"\\{\\\"HTtype\\\"\\:\\\"HT\\\"\\}\"};","outputs":1,"noerr":0,"x":1360,"y":480,"wires":[["fd472184.afd7"]]},{"id":"394c438f.428c7c","type":"delay","z":"e3bd9703.0fc3d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":480,"wires":[["86eb8427.6e1728"]]},{"id":"8092a07e.e9dd7","type":"function","z":"e3bd9703.0fc3d8","name":"Turn on the cooler","func":"return {payload:\"\\{\\\"type\\\"\\:3\\,\\\"value\\\"\\:16750695\\,\\\"length\\\"\\:32\\}\"};","outputs":1,"noerr":0,"x":1530,"y":520,"wires":[["aff12070.f0889"]]},{"id":"cc3355ac.1b59c8","type":"function","z":"e3bd9703.0fc3d8","name":"alert","func":"return {payload:\"\\{\\\"\\!\\\"\\:\\\"Too Hot\\\"\\}\"};","outputs":1,"noerr":0,"x":1490,"y":560,"wires":[["ed0b1b7f.8d5cb8"]]},{"id":"459264fa.08b7dc","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":1,"width":"2","height":"1","passthru":false,"label":"CH -","tooltip":"","color":"#FFFFFF","bgcolor":"#F44336","icon":"","payload":"{\"type\":3,\"value\":16753245,\"length\":32}","payloadType":"str","topic":"","x":110,"y":80,"wires":[["aff12070.f0889"]]},{"id":"bbf97e64.f41e6","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":3,"width":"2","height":"1","passthru":false,"label":"CH +","tooltip":"","color":"#FFFFFF","bgcolor":"#F44336","icon":"","payload":"{\"type\":3,\"value\":16769565,\"length\":32}","payloadType":"str","topic":"","x":430,"y":80,"wires":[["aff12070.f0889"]]},{"id":"6585c538.77bb9c","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":2,"width":"2","height":"1","passthru":false,"label":"CH","tooltip":"","color":"#FFFFFF","bgcolor":"#F44336","icon":"","payload":"{\"type\":3,\"value\":16736925,\"length\":32}","payloadType":"str","topic":"","x":270,"y":80,"wires":[["aff12070.f0889"]]},{"id":"98a59a8e.19f858","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":4,"width":"2","height":"1","passthru":false,"label":"|<<","tooltip":"","color":"#FFFFFF","bgcolor":"#009688","icon":"","payload":"{\"type\":3,\"value\":16720605,\"length\":32}","payloadType":"str","topic":"","x":110,"y":180,"wires":[["aff12070.f0889"]]},{"id":"7d4a3f01.56f1d","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":6,"width":"2","height":"1","passthru":false,"label":">||","tooltip":"","color":"#FFFFFF","bgcolor":"#4CAF50","icon":"","payload":"{\"type\":3,\"value\":16761405,\"length\":32}","payloadType":"str","topic":"","x":430,"y":180,"wires":[["aff12070.f0889"]]},{"id":"66559908.0e4728","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":5,"width":"2","height":"1","passthru":false,"label":">>|","tooltip":"","color":"#FFFFFF","bgcolor":"#009688","icon":"","payload":"{\"type\":3,\"value\":16712445,\"length\":32}","payloadType":"str","topic":"","x":270,"y":180,"wires":[["aff12070.f0889"]]},{"id":"488daca7.db80b4","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":7,"width":"2","height":"1","passthru":false,"label":"-","tooltip":"","color":"#FFFFFF","bgcolor":"#3F51B5","icon":"","payload":"{\"type\":3,\"value\":16769055,\"length\":32}","payloadType":"str","topic":"","x":110,"y":280,"wires":[["aff12070.f0889"]]},{"id":"edfe6986.5e9848","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":9,"width":"2","height":"1","passthru":false,"label":"EQ","tooltip":"","color":"#FFFFFF","bgcolor":"#673AB7","icon":"","payload":"{\"type\":3,\"value\":16748655,\"length\":32}","payloadType":"str","topic":"","x":430,"y":280,"wires":[["aff12070.f0889"]]},{"id":"a0167e0b.2bbcd","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":8,"width":"2","height":"1","passthru":false,"label":"+","tooltip":"","color":"#FFFFFF","bgcolor":"#3F51B5","icon":"","payload":"{\"type\":3,\"value\":16754775,\"length\":32}","payloadType":"str","topic":"","x":270,"y":280,"wires":[["aff12070.f0889"]]},{"id":"6edb4846.f816d8","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":10,"width":"2","height":"1","passthru":false,"label":"0","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16738455,\"length\":32}","payloadType":"str","topic":"","x":110,"y":380,"wires":[["aff12070.f0889"]]},{"id":"bbea24ea.930188","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":12,"width":"2","height":"1","passthru":false,"label":"200+","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16756815,\"length\":32}","payloadType":"str","topic":"","x":430,"y":380,"wires":[["aff12070.f0889"]]},{"id":"ba0e08de.c40f78","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":11,"width":"2","height":"1","passthru":false,"label":"100+","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16750695,\"length\":32}","payloadType":"str","topic":"","x":270,"y":380,"wires":[["aff12070.f0889"]]},{"id":"63186cc6.9567e4","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":14,"width":"2","height":"1","passthru":false,"label":"1","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16724175,\"length\":32}","payloadType":"str","topic":"","x":110,"y":500,"wires":[["aff12070.f0889"]]},{"id":"2d4aa9e9.8bf816","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":16,"width":"2","height":"1","passthru":false,"label":"3","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16743045,\"length\":32}","payloadType":"str","topic":"","x":430,"y":500,"wires":[["aff12070.f0889"]]},{"id":"9df595a7.b0f9b8","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":15,"width":"2","height":"1","passthru":false,"label":"2","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16718055,\"length\":32}","payloadType":"str","topic":"","x":270,"y":500,"wires":[["aff12070.f0889"]]},{"id":"72250d85.c2ae54","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":17,"width":"2","height":"1","passthru":false,"label":"4","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16716015,\"length\":32}","payloadType":"str","topic":"","x":110,"y":600,"wires":[["aff12070.f0889"]]},{"id":"14325de.2650ea2","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":19,"width":"2","height":"1","passthru":false,"label":"6","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16734885,\"length\":32}","payloadType":"str","topic":"","x":430,"y":600,"wires":[["aff12070.f0889"]]},{"id":"6ea92c3c.2fd274","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":18,"width":"2","height":"1","passthru":false,"label":"5","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16726215,\"length\":32}","payloadType":"str","topic":"","x":270,"y":600,"wires":[["aff12070.f0889"]]},{"id":"447aae57.dca6","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":20,"width":"2","height":"1","passthru":false,"label":"7","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16728765,\"length\":32}","payloadType":"str","topic":"","x":110,"y":700,"wires":[["aff12070.f0889"]]},{"id":"f27aa4c.d953058","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":22,"width":"2","height":"1","passthru":false,"label":"9","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16732845,\"length\":32}","payloadType":"str","topic":"","x":430,"y":700,"wires":[["aff12070.f0889"]]},{"id":"8571559c.d376f8","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":21,"width":"2","height":"1","passthru":false,"label":"8","tooltip":"","color":"#FFFFFF","bgcolor":"#000000","icon":"","payload":"{\"type\":3,\"value\":16730805,\"length\":32}","payloadType":"str","topic":"","x":270,"y":700,"wires":[["aff12070.f0889"]]},{"id":"b25bae70.67cda","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":24,"width":"2","height":"1","passthru":false,"label":"H","tooltip":"","color":"#FFFFFF","bgcolor":"#607D8B","icon":"","payload":"{\"HTtype\":\"H\"}","payloadType":"str","topic":"","x":110,"y":820,"wires":[["fd472184.afd7"]]},{"id":"e48e073.b5b75f8","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":26,"width":"2","height":"1","passthru":false,"label":"HT","tooltip":"","color":"#FFFFFF","bgcolor":"#607D8B","icon":"","payload":"{\"HTtype\":\"HT\"}","payloadType":"str","topic":"","x":430,"y":820,"wires":[["fd472184.afd7"]]},{"id":"e2ba1abd.6f5b48","type":"ui_button","z":"e3bd9703.0fc3d8","name":"","group":"f3bcee32.013e5","order":25,"width":"2","height":"1","passthru":false,"label":"T","tooltip":"","color":"#FFFFFF","bgcolor":"#607D8B","icon":"","payload":"{\"HTtype\":\"T\"}","payloadType":"str","topic":"","x":270,"y":820,"wires":[["fd472184.afd7"]]},{"id":"86b966d5.111b48","type":"ui_chart","z":"e3bd9703.0fc3d8","name":"","group":"7bbb0e6e.5292a","order":25,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#f06296","#ff7f0e","#2ca02c","#98df8a","#d62728","#808080","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1570,"y":640,"wires":[[],[]]},{"id":"6384500f.aab83","type":"function","z":"e3bd9703.0fc3d8","name":"creat chart","func":"var value1 = msg.payload.H;\nvar value2 = msg.payload.T;\n \nvar topic1 = \"H\";\nvar topic2 = \"T\";\n \nvar newmsg = [{topic:topic1,payload:value1},\n{topic:topic2, payload:value2}];\n \nreturn newmsg;","outputs":2,"noerr":0,"x":1390,"y":640,"wires":[["86b966d5.111b48","7e6f6d37.25e364"],["86b966d5.111b48","7e6f6d37.25e364"]]},{"id":"7e6f6d37.25e364","type":"debug","z":"e3bd9703.0fc3d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":680,"wires":[]},{"id":"c480ddb3.135be","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"IR/service","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":80,"wires":[]},{"id":"513b81d8.579ca","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"IR/key","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":180,"wires":[]},{"id":"73f38fcd.1d3f3","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"IR/command","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":280,"wires":[]},{"id":"ac20431e.2498b","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"HT/alert","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":380,"wires":[]},{"id":"9bd82a88.7b3b08","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"HT/send","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":480,"wires":[]},{"id":"ab27313a.135fb","type":"ui_text","z":"e3bd9703.0fc3d8","group":"d3c00eb7.bb95d","order":25,"width":"0","height":"0","name":"","label":"HT/command","format":"{{msg.payload}}","layout":"col-center","x":1060,"y":760,"wires":[]},{"id":"3bbdd617.49ee0a","type":"rising-edge","z":"e3bd9703.0fc3d8","name":"T>35","threshold":"35","x":1370,"y":520,"wires":[["8092a07e.e9dd7"]]},{"id":"95a7d80a.e546e8","type":"function","z":"e3bd9703.0fc3d8","name":"Get T number","func":"return {payload : msg.payload.T};","outputs":1,"noerr":0,"x":1220,"y":520,"wires":[["3bbdd617.49ee0a","69eb4d90.783e24","24508fb1.14778"]]},{"id":"69eb4d90.783e24","type":"rising-edge","z":"e3bd9703.0fc3d8","name":"T>50","threshold":"50","x":1370,"y":560,"wires":[["cc3355ac.1b59c8"]]},{"id":"24508fb1.14778","type":"falling-edge","z":"e3bd9703.0fc3d8","name":"T<20","threshold":"20","x":1370,"y":600,"wires":[["fdcb7f60.e36b9"]]},{"id":"fdcb7f60.e36b9","type":"function","z":"e3bd9703.0fc3d8","name":"Turn off the cooler","func":"return {payload:\"\\{\\\"type\\\"\\:3\\,\\\"value\\\"\\:16732845\\,\\\"length\\\"\\:32\\}\"};","outputs":1,"noerr":0,"x":1530,"y":600,"wires":[["aff12070.f0889"]]}]